altgraph==0.17
beautifulsoup4==4.9.3
html2text==2020.1.16
lxml==4.9.3
macholib==1.14
packaging==23.2
pip-review==1.1.0
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2023.10
pyparsing==2.4.7
soupsieve==2.2.1
